iframe[seamless] {
  border: none;
}

.modal.in .modal-dialog {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

#modalPrivacyPolicy {
  top: 70%;
  left: 27%;
  outline: none;
}

/* #modalTermsOfService {
  top: 70%;
  left: 27%;
  outline: none;
} */
