/* homepage_carousel */
.carousel {
  width: 60%; /* Or try to use important */
  height: auto;
}

.carouselServicesAutoplaying {
  display: flex;
  justify-content: center;
}

.section-title-checkout {
  display: flex;
  justify-content: center;
}
