:root {
  --NAVY-BLUE: #2e2f42;
  --WHITE: #fff;
  --CORNFLOWER: #e7e9fc;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --GREY: rgba(46, 47, 66, 0.7);
  --GREEN: #31d0aa;
  --BLACK: #000000;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --dark-bg: var(--NAVY-BLUE);
  --topline-bg: var(--WHITE);
  --light-bg: var(--CLOUD);
  --accent-bg: var(--IRIS);
  --bg-color: var(--WHITE);
  --primary-text-color: var(--NAVY-BLUE);
  --secondary-text-color: var(--WHITE);
  --bottom-text-color: var(--SLATE);
  --highlight-text-color: var(--IRIS);
  --highlight-nav-text-color: var(--OCEAN);
  --top-line-color-bg: var(--CORNFLOWER);
  --border-color: var(--CORNFLOWER);
  --dark-bg-overlay: var(--GREY);
  --project-overlay-text-color: var(--CLOUD);
  --project-overlay-bg-color: var(--IRIS);

  --section-item-gap: 24px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --sml: 428px;
  --med: 768px;
  --lrg: 1158px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* General Styles */
.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  border: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: var(--sml);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--med);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: var(--lrg);
  }
}
.container_header {
  display: flex;
  align-items: center;
}

.section-title {
  color: var(--primary-text-color);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  line-height: 1.1111; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .top-text {
    text-align: center;
    width: 396px;

    color: var(--primary-text-color);
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111; /* 111.111% */
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .top-text {
    color: var(--primary-text-color);
    text-align: left;
    width: 395px;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111; /* 111.111% */
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1158px) {
  .top-text {
    color: var(--primary-text-color);
    text-align: left;
    width: 264px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1157px) {
  .bottom-text {
    color: var(--bottom-text-color);

    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
  }
}
@media screen and (min-width: 1158px) {
  .bottom-text {
    color: var(--bottom-text-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
  }
}

.team-top-text {
  color: var(--primary-text-color);
  text-align: center;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.team-bottom-text {
  color: var(--bottom-text-color);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 150% */
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 767px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* End of General Styles */

/* HEADER Styles */
/*
.header-elements {
  display: flex;
  border: none;
}*/
.logo,
.logo-footer {
  color: var(--highlight-text-color);
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#studio {
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
#studio-footer {
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function);
}
#studio-footer:hover {
  color: var(--IRIS);
}
.logo-main {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .nav-line {
    display: flex;

    background: var(--bg-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--top-line-color-bg);
  }
  .nav-list {
    display: flex;
    margin-left: 148px;
  }
}
@media screen and (min-width: 1158px) {
  .nav-line {
    display: flex;
    justify-content: left;

    background: var(--bg-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--top-line-color-bg);
  }
  .nav-list {
    display: flex;
    margin-left: 90px;
  }
}
.nav-item {
  display: flex;
}
.nav-item + .nav-item {
  margin-left: 40px;
}
.nav-link {
  padding-top: var(--section-item-gap);
  padding-bottom: 20px;
  text-decoration: none;
}
.nav-item:hover {
  color: var(--highlight-nav-text-color);
}
.current::after {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--IRIS);
  position: relative;
  top: 24px;
}
.nav-link.current {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--WHITE);
  border-radius: 2px;
}
.nav-link.link {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--WHITE);
  border-radius: 2px;
}
.nav-item a.item:hover,
.nav-item a.item:focus {
  color: var(--highlight-nav-text-color);
  text-decoration: none;
}

span#studio:hover {
  color: var(--highlight-nav-text-color);
  text-decoration: none;
}

.contact-list {
  display: flex;
  justify-content: left;
  align-items: center;
}
.contact-item {
  display: block;
  align-items: center;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: inline-flex;
    justify-content: center;
    row-gap: 8px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    margin-left: 121px;
  }
  .contact-item {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1158px) {
  .contact-list {
    display: inline-flex;
    justify-content: flex-end;
    row-gap: 8px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    width: 675px;
  }

  .contact-item {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    align-items: stretch;

    margin-left: 40px;
  }
}
.contact-item a.contact:hover,
.contact-item a.contact:focus {
  color: var(--highlight-nav-text-color);
  transition: background-color 250ms var(--timing-function);
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .contact-link {
    color: var(--bottom-text-color);
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
}
@media only screen and (min-width: 1158px) {
  .contact-link {
    color: var(--bottom-text-color);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
  }
}
@media only screen and (max-width: 768px) {
  .navigation,
  .contact-list {
    display: none;
  }
  .nav-line {
    height: 70px;

    background: var(--bg-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--top-line-color-bg);
  }
}
.nav-button {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-elements {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--top-line-color-bg);
  }

  svg.nav-menu-icon {
    stroke: var(--NAVY-BLUE);
    margin-right: 16px;
  }
  .nav-menu-button {
    background: var(--topline-bg);
  }
  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--topline-bg);
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 48px 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  overflow-y: scroll;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function),
    -webkit-transform 250ms var(--timing-function);
}
.mm_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin-left: 40px;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
svg.mm_button-icon-default {
  display: block;
}
svg.mm_button-icon-hover {
  display: none;
}
div.mm_button:hover,
div.mm_button:focus {
  transition: background-color 250ms var(--timing-function);
  background-color: var(--OCEAN);
}
div.mm_button:hover svg.mm_button-icon-default {
  display: none;
}
div.mm_button:hover svg.mm_button-icon-hover {
  display: block;
}

.mm_nav-title {
  color: var(--NAVY-BLUE);

  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111; /* 111.111% */
  letter-spacing: 0.72px;
}
.mm_nav-link:hover {
  color: var(--IRIS);
}
.mm_current {
  color: var(--OCEAN);
}
.mm_contact-number {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  width: 353px;
  color: var(--IRIS);

  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111; /* 111.111% */
  letter-spacing: 0.72px;
}
.mm_contact-email {
  color: var(--SLATE);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.mm_contact-link:hover,
.mm_contact-link:focus {
  color: var(--OCEAN);
}
.mm_contact_number {
  color: var(--SLATE);

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.mm_item,
.mm_contact-number,
.mm_contact-email {
  text-decoration: none;
}
.mm_button {
  position: absolute;
  right: var(--section-item-gap);
  top: var(--section-item-gap);

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--section-item-gap);
  height: var(--section-item-gap);

  color: var(--BLACK);
  background-color: var(--WHITE);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.mm_nav-list {
  padding-top: 32px;
}
.mm_nav-item:not(:first-child) {
  padding-top: 40px;
}
.mm_contact-list {
  padding-top: 284px;
  padding-bottom: 48px;
}
.mm_contact-item:first-child {
  padding-bottom: 40px;
}

.mm_socials {
  display: flex;
}
.mm_socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--IRIS);
  color: var(--CLOUD);
  border-radius: 50%;
}
.mm_socials-item:not(:first-child) {
  padding-left: 56px;
}

.mm_socials-item:hover .mm_socials-link,
.mm_socials-item:focus .mm_socials-link {
  background-color: var(--GREEN);
  transition: background-color 250ms var(--timing-function);
}

/* End of HEADER Styles */

/* MAIN Styles */

.main {
  color: var(--WHITE);
  text-align: center;
}
.main-overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 100%;

  background-image: linear-gradient(
      to right,
      var(--dark-bg-overlay),
      var(--dark-bg-overlay)
    ),
    url(../images/group-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-overlay {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .main-overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .main-title {
    color: var(--secondary-text-color);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111; /* 111.111% */
    letter-spacing: 0.72px;
    padding-bottom: calc(2 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    color: var(--secondary-text-color);
    text-align: center;
    /* Header 2 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
    padding-bottom: calc(2 * var(--section-item-gap));
  }
}

@media screen and (max-width: 767px) {
  .main-text {
    display: inline-flex;
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .main-text {
    width: 496px;
  }
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.button-main {
  background-color: var(--accent-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);

  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.button-main:hover,
.button-main:focus {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--OCEAN);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: calc(4 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .features {
    padding-top: calc(5 * var(--section-item-gap));
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    display: flex;
    margin-left: 0px;
    justify-content: center;
    width: 264px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
  }
  .features-item:nth-child(1),
  .features-item:nth-child(2) {
    padding-bottom: calc(3 * var(--section-item-gap));
  }
}
@media screen and (max-width: 767px) {
  .features-thumbnail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .features-thumbnail {
    display: none;
  }

  button.nav-icon {
    background: var(--bg-color);
  }
}
@media screen and (min-width: 1158px) {
  .features-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--CLOUD);
  }
  .nav-icon {
    display: none;
  }
}
@media screen and (min-width: 428px) {
  .features-item {
    display: flex;
    flex-wrap: wrap;
    width: 396px;
  }
}
@media screen and (min-width: 768px) {
  .features-item {
    display: flex;
    flex-wrap: wrap;
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .features-item {
    display: flex;
    flex-wrap: wrap;
    width: 264px;
    margin-right: var(--section-item-gap);
  }
}
@media screen and (max-width: 767px) {
  .features-item:not(:first-child) {
    margin-top: var(--section-item-gap);
  }
}
.features-title {
  padding-top: 8px;
  padding-bottom: 8px;
}

.gallery-list {
  display: flex;
  padding-top: calc(3 * var(--section-item-gap));
  justify-content: center;
  gap: var(--section-item-gap);
}

@media screen and (max-width: 767px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: calc(3 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: var(--section-item-gap);
  }
  .team-item:nth-child(1),
  .team-item:nth-child(2) {
    margin-bottom: calc(2 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .gallery-list {
    display: flex;
    margin-left: 0px;
    justify-content: center;
    gap: var(--section-item-gap);
  }
}

.team {
  background-color: var(--CLOUD);
}
@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: calc(3 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: var(--section-item-gap);
  }
  .team-item:nth-child(1),
  .team-item:nth-child(2) {
    margin-bottom: calc(2 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    margin-left: 0px;
    justify-content: center;
    gap: var(--section-item-gap);
  }
}
.team-list {
  padding-top: calc(3 * var(--section-item-gap));
}
.team-item {
  text-align: center;
}

.team-box {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-info {
  padding-top: calc((4 / 3) * var(--section-item-gap));
  padding-bottom: calc((4 / 3) * var(--section-item-gap));
}
.team-name,
.team-designation {
  padding-bottom: calc(var(--section-item-gap) / 3);
}
.socials {
  display: flex;
  padding-left: var(--section-item-gap);
}
.socials-item {
  margin-right: var(--section-item-gap);
}
.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--IRIS);
  color: var(--LIGHT-SLATE);
  border-radius: 50%;
}
.socials-icon {
  fill: var(--LIGHT-SLATE);
}
.socials-link:hover,
.socials-link:focus {
  transition: background-color 250ms var(--timing-function);
  background-color: var(--OCEAN);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--WHITE);
  transition: background-color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: calc(1 * var(--section-item-gap));
  }
  .client-item:nth-child(1),
  .client-item:nth-child(2),
  .client-item:nth-child(3) {
    margin-bottom: calc(2 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--section-item-gap));
    margin-left: calc(-1 * var(--section-item-gap));
    gap: calc(1.25 * var(--section-item-gap));
    padding-left: 50px;
    padding-right: 50px;
  }
  .client-item:nth-child(1),
  .client-item:nth-child(2),
  .client-item:nth-child(3) {
    margin-bottom: calc(1 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .client-list {
    display: flex;
    margin-left: 0px;
    justify-content: center;
    gap: var(--section-item-gap);
  }
}
.client-list {
  display: flex;
  padding-top: calc(3 * var(--section-item-gap));
}
.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 88px;

  color: var(--LIGHT-SLATE);
  border: 1px solid var(--LIGHT-SLATE);
  border-radius: 4px;
}
@media screen and (min-width: 428px) {
  .client-link {
    width: 190px;
    height: 88px;
  }
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 168px;
    height: 88px;
  }
}
.client-link:hover,
.client-link:focus {
  border-color: var(--OCEAN);
  transition: background-color 250ms var(--timing-function);
}
.client-icon:hover {
  fill: var(--OCEAN);
  stroke: var(--OCEAN);
  transition: background-color 250ms var(--timing-function);
}
svg.client1-icon-a,
svg.client2-icon-a,
svg.client3-icon-a,
svg.client4-icon-a,
svg.client5-icon-a,
svg.client6-icon-a {
  display: block;
}
svg.client1-icon-b,
svg.client2-icon-b,
svg.client3-icon-b,
svg.client4-icon-b,
svg.client5-icon-b,
svg.client6-icon-b {
  display: none;
}
a.client1:hover svg.client1-icon-a,
a.client2:hover svg.client2-icon-a,
a.client3:hover svg.client3-icon-a,
a.client4:hover svg.client4-icon-a,
a.client5:hover svg.client5-icon-a,
a.client6:hover svg.client6-icon-a {
  transition: fill 250ms var(--timing-function);
  display: none;
}
a.client1:hover svg.client1-icon-b,
a.client2:hover svg.client2-icon-b,
a.client3:hover svg.client3-icon-b,
a.client4:hover svg.client4-icon-b,
a.client5:hover svg.client5-icon-b,
a.client6:hover svg.client6-icon-b {
  transition: fill 250ms var(--timing-function);
  display: block;
}
/* End of MAIN Styles */

/* PORTFOLIO Styles */
@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .section-project {
    padding-top: calc(2 * var(--section-item-gap));
    padding-bottom: calc(2 * var(--section-item-gap));
  }
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-project {
    padding-top: 64px;
    padding-bottom: calc(4 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .section-project {
    padding-top: 100px;
    padding-bottom: calc(5 * var(--section-item-gap));
  }
}
.btn {
  /* layout */
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  /* style */
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--light-bg);
  /* typography */
  color: var(--highlight-text-color);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.btn:hover,
.btn:focus {
  /* layout */
  align-items: flex-start;
  /*style*/
  border-radius: 4px;
  background-color: var(--OCEAN);
  color: var(--secondary-text-color);
  transition: background-color 250ms var(--timing-function);
}
.filter-item {
  margin-right: var(--section-item-gap);
}

@media screen and (max-width: 767px) {
  .filter-item:nth-child(1) {
    padding-bottom: 16px;
  }
  .project-list {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(1 * var(--section-item-gap));
    row-gap: calc(2 * var(--section-item-gap));
  }
  .project-item {
    width: 396px;
    display: grid;
    align-items: flex-start;
    gap: calc((4 / 3) * var(--section-item-gap));
    border: 1px solid var(--border-color);
    background: var(--bg-color);
  }
  img.image {
    width: 396px;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .project-list {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--section-item-gap);
    row-gap: calc(3 * var(--section-item-gap));
  }
  .project-item {
    width: 356px;
    display: grid;
    align-items: flex-start;
    gap: calc((4 / 3) * var(--section-item-gap));
    border: 1px solid var(--border-color);
    background: var(--bg-color);
  }
}
@media screen and (min-width: 1158px) {
  .project-list {
    /* layout */
    padding-top: calc(3 * var(--section-item-gap));
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(1 * var(--section-item-gap));
    row-gap: calc(2 * var(--section-item-gap));
    flex-direction: row;
  }
  .project-item {
    /* layout */
    display: flex;
    width: 360px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: calc((4 / 3) * var(--section-item-gap));
    flex-shrink: 0;
    /* style */
    border: 1px solid var(--border-color);
    background: var(--bg-color);
  }
}
.project-thumbnail {
  /* layout */
  position: relative;
  overflow: hidden;
}
.project-overlay {
  transform: translateY(100%);
  /* layout */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  /* style */

  opacity: 0.9;
  background-color: var(--project-overlay-bg-color);

  transition: transform 250ms var(--timing-function);
}
.project-item:hover .project-overlay,
.project-item:focus .project-overlay {
  transform: translateY(0);
}
.project-text {
  /* layout */
  width: 296px;
  /* typography */
  color: var(--project-overlay-text-color);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.project-image {
  /* layout */
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}
.project-item:hover {
  /* layout */
  border: 1px solid var(--CLOUD);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  transition: background-color 2500ms var(--timing-function);
}
.project-info {
  /* layout */
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  gap: calc((1 / 3) * var(--section-item-gap));
  padding-bottom: calc((4 / 3) * var(--section-item-gap));
}
.project-name {
  color: var(--primary-text-color);
  /* typography */
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.project-title {
  color: var(--bottom-text-color);
  /* typography */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/* End of PORTFOLIO Styles */

/* FOOTER Styles */
.main-footer {
  background-color: var(--NAVY-BLUE);
}

@media screen and (max-width: 767px) {
  .footer-section {
    padding-top: calc(3 * var(--section-item-gap));
    padding-bottom: calc(3 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: calc(4 * var(--section-item-gap));
    padding-bottom: calc(4 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .footer-section {
    padding-top: calc(5 * var(--section-item-gap));
    padding-bottom: calc(5 * var(--section-item-gap));
  }
}

.footer-container {
  display: inline-flex;
}
@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-item {
    padding-bottom: 0px;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text {
    color: var(--CLOUD);
    padding-bottom: 0px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .footer-text-item {
    margin-top: 96px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    padding-left: 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .footer-text {
    color: var(--CLOUD);
    padding-bottom: 0;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  .footer-socials-container,
  .footer-subscribe-container {
    padding-left: 0px;
  }
  .footer-container:nth-child(1) {
    margin-bottom: calc(3 * var(--section-item-gap));
  }
}
@media screen and (min-width: 768px) {
  .footer-socials-container {
    padding-left: calc(1 * var(--section-item-gap));
  }
}
@media screen and (min-width: 1158px) {
  .footer-socials-container,
  .footer-subscribe-container {
    padding-left: 85px;
  }
  .footer-text {
    color: var(--CLOUD);
    padding-bottom: var(--section-item-gap);
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
.footer-item {
  /* layout */
  padding-bottom: 0px;
  /* typography */
  text-decoration: none;
  margin: 0;
}
.footer-text-item {
  /* layout */
  color: var(--CLOUD);
  padding-bottom: var(--section-item-gap);
  /* typography */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.footer-socials {
  display: flex;
  padding-left: 0px;
}
.footer-socials-item {
  padding-left: 0;
  margin-right: 16px;
}
@media screen and (max-width: 767px) {
  .footer-socials-item:nth-child(4) {
    margin-right: 0px;
  }
}
.footer-socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--IRIS);
  color: var(--CLOUD);
  border-radius: 50%;
}
.footer-socials-icon {
  fill: currentColor;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--GREEN);
  transition: background-color 250ms var(--timing-function);
}
.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: var(--WHITE);
  transition: background-color 250ms var(--timing-function);
}

.footer-subscribe {
  display: flex;
  padding-left: 0px;
}
.footer-subscribe-item {
  padding-left: 0;
  margin-right: 0px;

  color: var(--CLOUD);
}
.main-footer .form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main-footer .form {
    flex-direction: column;
  }
}
.main-footer .form-input {
  padding: 0 0 0 16px;
  margin-right: 12px;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  /* layout */
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--WHITE);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* typography */
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.48px;
  color: var(--WHITE);

  transition: border 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .main-footer .form-input {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .main-footer .form-input {
    margin-right: var(--section-item-gap);
  }
}

.button-footer {
  /* layout */
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: var(--IRIS);
  /* typography */
  color: var(--WHITE);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1; /* 150% */
  letter-spacing: 0.64px;
}
.main-footer button.button-footer {
  display: flex;
  justify-content: center;
}
.button-footer:hover,
.button-footer:focus {
  border-radius: 4px;
  background: var(--OCEAN);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

/* End of FOOTER Styles */
/* MODAL Styles */
.backdrop {
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 4px;
  width: 458px;
  height: 584px;

  background-color: var(--WHITE);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--timing-function);
}
@media screen and (max-width: 480px) {
  .modal {
    width: 380px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  color: var(--BLACK);
  background-color: var(--WHITE);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);

  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--OCEAN);
}
.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--IRIS);
}
svg.close-black-18dp-1a {
  display: block;
  fill: currentcolor;
}
svg.close-black-18dp-1b {
  display: none;
}
.modal-button:hover .close-black-18dp-1a {
  display: none;
}
.modal-button:hover .close-black-18dp-1b {
  transition: fill 250ms var(--timing-function);
  display: block;
}

.modal-title {
  position: absolute;

  top: calc(2 * var(--section-item-gap));
  right: calc(2 * var(--section-item-gap));

  display: flex;
  justify-content: center;
  align-items: center;

  width: 360px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .modal-title {
    right: 10px;
  }
}
.modal-title-text {
  color: var(--primary-text-color);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.modal-form-label-text {
  color: var(--LIGHT-SLATE);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal .form {
  position: absolute;
  top: 80px;
  right: 48px;
  align-items: center;
  width: 360px;
}
@media screen and (max-width: 480px) {
  .modal .form {
    right: 10px;
  }
}
.modal .form-input {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  margin-top: 4px;
  width: 360px;
  height: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--OCEAN);

  border: 1px solid var(--LIGHT-SLATE);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}
.modal .comment-input {
  padding-left: 16px;
}
.modal .form-field:not(:first-child) {
  margin-top: 8px;
}
.modal .form-input-overlay {
  position: relative;
}
.modal .form-input:hover,
.modal .form-input:focus {
  border: 1px solid var(--IRIS);
  transition: border 250ms var(--timing-function);
}
.modal .form-input:hover + .form-icon,
.modal .form-input:focus + .form-icon {
  fill: var(--IRIS);
  transition: fill 250ms var(--timing-function);
}
.modal .form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(16px, -50%);
  fill: var(--BLACK);

  transition: fill 250ms var(--timing-function);
}
.modal .form-input:focus {
  border: 1px solid var(--IRIS);
}

.modal .comment-input {
  padding: 12px 16px;
  height: 120px;

  resize: none;
}
.modal .comment-input::placeholder {
  color: var(--NAVY-BLUE-modal);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal .form-name-link:hover,
.modal .form-name-link:focus {
  fill: var(--IRIS);
}
.modal .form-phone-link:hover,
.modal .form-phone-link:focus {
  fill: var(--IRIS);
}
.modal .form-email-link:hover,
.modal .form-email-link:focus {
  fill: var(--IRIS);
}
.agreement {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  margin-top: 16px;
}
.agreement-label {
  color: var(--LIGHT-SLATE);

  margin: 8px;
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.agreement-link {
  color: var(--IRIS);
  /* Link Text */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.agreement-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement-check-icon {
  display: inline-block;
  margin-left: 0px;
  width: 16px;
  height: 16px;
  background-color: var(--bg-color);
  border: 1px solid var(--BLACK);
  border-radius: 2px;

  stroke-width: 1px;
  stroke: var(--NAVY-BLUE-modal);
}
.agreement-checkbox:checked + .agreement-check-icon {
  background-image: url("../images/sprite/SVG/property-1-click.svg");

  fill: var(--OCEAN, #404bbf);
  stroke-width: 1px;
  stroke: var(--OCEAN, #404bbf);

  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-modal {
  position: absolute;
  left: 95px;
}
.button-modal {
  /* layout */
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  width: 169px;
  justify-content: center;
  /* style */
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--WHITE);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.button-modal:hover,
.button-modal:focus {
  /* layout */
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  width: 169px;
  justify-content: center;

  border-radius: 4px;
  background: var(--OCEAN);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: fill 250ms var(--timing-function);
}

/* End of MODAL Styles */
