<div class="section-title-main">
  <h3 class="montserrat-regular"><br />Our Affiliates</h3>
</div>

<div class="slides-affiliates-wrapper">
  <div class="sliders-affiliates">
    <div class="slides-affiliates-track">
      <!-- Image Code Start-->
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Amanda Palmer - The Art of Asking.png"
        />
        <h6>Festo</h6>
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/america_s-test-kitchen - naturallysweet.png"
        />
        <h6>SMC</h6>
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/amy-Roskelley_201healthysmoothies.png"
        />
        <h6>CKD</h6>
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Andrew Brook-Richard C. Devidi - Self-Reference and Self-Awareness (Advances in Consciousness Research).png"
        />
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Andrew Matthews - Follow Your Heart.png"
        />
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness in a Nutshell.png"
        />
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness in Hard Times.png"
        />
      </div>
      <div class="slides-affiliates">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness Now.png"
        />
      </div>
    </div>
  </div>
</div>
