<!-- 21:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-21by9">
  <video class="embed-responsive-item w-100" autoplay loop muted>
    <source src="/media/videos/5497-184226939_small.mp4" type="video/mp4" />
  </video>
  <div class="video-caption d-none d-md-block">
    <h5>First slide label</h5>
    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
  </div>
</div> -->

<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe
    class="embed-responsive-item"
    src="/media/videos/5497-184226939_small.mp4"
  ></iframe>
</div> -->

<!-- 4:3 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-4by3">
  <iframe
    class="embed-responsive-item"
    src="/media/videos/5497-184226939_small.mp4"
  ></iframe>
</div> -->

<!-- 1:1 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-1by1">
  <iframe
    class="embed-responsive-item"
    src="/media/videos/5497-184226939_small.mp4"
  ></iframe>
</div> -->

<!-- Carousel wrapper -->
<div
  id="carouselVideo"
  data-mdb-carousel-init
  class="carousel slide carousel-fade w-100"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->

  <!-- <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselVideo"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselVideo"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselVideo"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div> -->

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <video class="img-fluid w-100" autoplay loop muted>
        <source src="/media/videos/5497-184226939_small.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
        <img src="/media/icon/favicon.ico" />
        <h5 class="montserrat-bold">Lifework Enterprise</h5>
        <p class="kaushan-script-regular">Unlimited Possibilities!</p>
      </div>
    </div>

    <!-- Single item -->
    <!-- <div class="carousel-item">
        <video class="img-fluid" autoplay loop muted>
          <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div> -->

    <!-- Single item -->
    <!-- <div class="carousel-item">
        <video class="img-fluid" autoplay loop muted>
          <source src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          </p>
        </div>
      </div>
    </div> -->
    <!-- Inner -->
  </div>
</div>
