<!-- Carousel wrapper -->
<div
  id="carouselVideo"
  data-mdb-carousel-init
  class="carousel slide carousel-fade w-100"
  data-mdb-ride="carousel"
>
  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <video class="img-fluid w-100" autoplay loop muted>
        <source src="/media/videos/5497-184226939_small.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
        <img src="/media/icon/favicon.ico" />
        <h5 class="montserrat-bold">Lifework Enterprise</h5>
        <p class="kaushan-script-regular">Unlimited Possibilities!</p>
      </div>
    </div>
  </div>
</div>
