<div class="section-title-checkout">
  <h2>CHECKOUT | Products & Services</h2>
</div>
<div class="container-lg container-fluid carouselServicesAutoplaying">
  <div
    id="carouselServicesAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          src="/media/images/services_engineering-services.png"
          class="d-block w-100"
          alt="engineering-services"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/media/images/services_mfg-parts.png"
          class="d-block w-100"
          alt="engineering-services-mfg-parts"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/media/images/services_it-services.png"
          class="d-block w-100"
          alt="it-services"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/media/images/services_hosting-solutions.png"
          class="d-block w-100"
          alt="it-services-hosting-solutions"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/media/images/services_cybersecurity-experts.png"
          class="d-block w-100"
          alt="it-services-cybersecurity-experts"
        />
      </div>
      <!-- <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/media/images/services_ebooks.png"
          class="d-block w-100"
          alt="it-services-ebooks"
        />
      </div> -->
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselServicesAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselServicesAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
