<div
  class="modal fade"
  id="modalTermsOfService"
  tabindex="-1"
  aria-labelledby="modalTermsOfServiceLabel"
  aria-hidden="true"
  style="position: fixed"
  style="right: 0px"
  ;
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="modalTermsOfServiceLabel">
          Terms of Service
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-xxl">
          <div class="accordion" id="accordionExample">
            <!-- <div class="accordion-item">
              Welcome to Lifework Enterprise! <br />
              <br />These terms and conditions outline the rules and regulations
              for the use of Lifework Enterprise’s Website.
            </div> -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <strong>Location</strong>
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lifework Enterprise is located —<i>Philippines</i>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <strong>Purchases and payments</strong>
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  We are available daily online from Our working hours Daily 9am
                  – 6pm Except for Saturdays/Sundays our support team is OFF any
                  orders made during our working hours will almost instantly be
                  processed after you contact us.
                  <br />
                  <br />
                  Accepted payment currencies are <strong>USD</strong> and
                  <strong>PHP</strong>.<br />
                  <strong><i>USD Payments</i></strong> are accepted thru
                  <i>Paypal / Wallet</i> only.<br />
                  <strong><i>PHP Payments</i></strong> (orders => PhP100) are
                  accepted thru all gateways.<br />
                  e.g.
                  <i>PAYPAL / Paymongo / GCash / Paymaya / Wallet </i>etc.<br />
                  Offline payment approvals can only be processed during working
                  hours
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <strong>Refunds</strong>
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Any refunds requested because of the delayed response outside
                  our working hours will be rejected entirely. Refund Policy
                  Refunds are applicable in case of no delivery and if the
                  service is not as described within a period of 2 days after an
                  order is processed any refunds requested after two days of the
                  purchase will either be rejected or considered partially based
                  upon our inspection and judgment of the situation.
                  <br />
                  <br />
                  Refunds are not applicable after the sending and securing the
                  account if proven to be working from the first time if any
                  issues occur after that only warranty on the account applies
                  and no refunds are accepted.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  <strong>Regarding Social Media/Postd</strong>
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  All social media profiles/ Posts must be completely public;
                  any change of the accounts or posts made to private will
                  immediately void your warranty and mark the account as
                  complete. Changing of your username or deactivating your
                  Social Media profile will also void your warranty and mark the
                  order as complete.
                  <br /><br />
                  No replacement will be made to any account after securing it
                  without sending of the login credentials. We will be able to
                  tell scam attempts when trying to get multiple replacements
                  for the sake of receiving numerous accounts.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <strong>Processing Times</strong>
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Please read the instructions for the processing time of each
                  service on the thread before subscription, multiple inquiries
                  of the start of your order will mark your messages as spam,
                  and we will not respond to any of your messages until the end
                  of completion time. We cannot jump ahead of previous inquiries
                  to answer a newer one. In case you messaged us, whether may it
                  be on WhatsApp – email or through Messenger PM’s and we did
                  not respond to you promptly please consider that we receive
                  dozens of messages per day; therefore, we appreciate your
                  patience until it is your turn.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  <strong>Inquiries</strong>
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Any inquiries are only to be handled through one of the
                  following MessengerPm – ViberApp – WhatsApp – Email. Inquires
                  made by posting on our listings will be disregarded and will
                  not be taken into consideration if you have any inquiry
                  consider contacting us using our contact information above.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseSeven"
                >
                  <strong>Spam Posting</strong>
                </button>
              </h2>
              <div
                id="collapseSeven"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Spam posting (Trashing our listings) with inquiries and
                  messages to get us to respond to your message this will
                  immediately void your warranty in case of a purchase and mark
                  it as complete, and if there was no purchase, we will
                  completely disregard your words and report you for spammy
                  posts.
                  <br />
                  <br />
                  We do put respect and appreciation of our buyers before
                  anything else, and we love courtesy and respect in return.
                  Using any disrespectful, offensive language, threats or any
                  TOS content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
