<div class="section-title-main">
  <h3 class="montserrat-regular"><br />Mainstream Products</h3>
</div>

<div class="slides-products-wrapper">
  <div class="sliders-products">
    <div class="slides-products-track">
      <!-- Image Code Start-->
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Amanda Palmer - The Art of Asking.png"
        />
        <h6>The Art of Asking</h6>
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/america_s-test-kitchen - naturallysweet.png"
        />
        <h6>Naturally Sweet</h6>
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/amy-Roskelley_201healthysmoothies.png"
        />
        <h6>201 Healthy Smoothies</h6>
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Andrew Brook-Richard C. Devidi - Self-Reference and Self-Awareness (Advances in Consciousness Research).png"
        />
        <h6>Self-Reference and Self Awareness</h6>
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Andrew Matthews - Follow Your Heart.png"
        />
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness in a Nutshell.png"
        />
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness in Hard Times.png"
        />
      </div>
      <div class="slides-products">
        <img
          src="/media/images/mainstream/Andrew Matthews - Happiness Now.png"
        />
      </div>
    </div>
  </div>
</div>
